{% extends 'base.html' %}
{% load static %}


{% block title %}Login{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<div class="login-form mt-5">
    <div class="row d-flex justify-content-center">
        <form method="post" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <h1> Log In</h1>
            <input type="email" class="form-control" name="email" placeholder="Email">
            
       </div>
        <div class="mb-3">
            
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div>
               
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                <p class="text-success">{{message}}</p>
            {%endfor%}
            {%endif%}
        </div>
            <button class="btn btn-outline-info" type="submit">Log In</button>
<br><br>
        Haven't registered yet? <a href="{% url 'user:register' %}">Sign up Now</a>
            </div>
    </div>
       
    </form>
</div>
<script>
var m = document.getElementsByClassName("alert");  // Return an array

setTimeout(function(){
   if (m && m.length) {
       m[0].classList.add('hide');
   }
}, 5000);
</script>
{% endblock %}